body {
    padding: 0;
    margin: 0;
    background-color: rgb(44, 51, 78);
    height: 100vh;
    width: 100;
}

.divHtml {
    display: flex;
    justify-content: center;
    align-items: start;
}

.satuan {
    height: 200px;
    width: 300px;
    padding: 50px;
    list-style: none;
}

.Judul {
    color: rgb(126, 94, 0);
    font-size: 30px;
}

/* download */
#download {
    color: rgb(252, 214, 141);
    text-decoration: none;
    font-size: 25px;
}
/* download end */

/* formulir */
.formulir {
    color: rgb(252, 214, 141);
    font-size: 25px;
}

#kirimGambar {
    color: rgb(252, 214, 141);
    font-size: 15px;    
}
/* formulir end */