body {
    padding: 0;
    margin: 0;
    background-color: rgb(44, 51, 78);
    height: 100vh;
    width: 100;
}

/* navbar */
.ul-navbar {
    background-color: rgb(5, 15, 62);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    list-style: none;   
    color: white;
    padding: 0;
    margin: 0;
}

.a-navbar {
    padding: 10px;
    text-decoration: none;
    color: white;
}

.li-navbar :hover {
    background-color: rgb(29, 78, 101);
    transition: 0.5s;
    transition-delay: 0.3s;
    border-radius: 8px;
}
/* navbar end*/

/* content1 */
.div-content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    width: 100%;
}

.hi {
    color: rgb(126, 94, 0);
    font-size: 40px;
    margin-bottom: 0;
}
.saya {
    color: rgb(252, 214, 141);
    font-size: 20px;
    margin-top: 5px;
}

/* content1 end */

/* content2 */
.div-content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}

.about {
    color: rgb(126, 94, 0);
    font-size: 40px;
    margin-bottom: 5;
}

.hiAbout {
    color: rgb(252, 214, 141);
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 200px;
}

.tPembelajaran {
    color: rgb(126, 94, 0);
}

.list1 {
     color: rgb(252, 214, 141);
    font-size: 18px;
    margin-top: 10px;
    text-align: left;
}
/* content2 end */

/* content3 */
.div-content3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.saran {
    color: rgb(126, 94, 0);
    font-size: 40px;
    margin-bottom: 10;
}

.table {
    margin-top: 50px;
    background-color: rgb(126, 94, 0);
    color: white;
    border: 1px rgb(82, 61, 0);
}

.thead {
    background-color: rgb(82, 61, 0);
}
/* content3 end */

/* content4 */
.Alert1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.hAlert {
    color: rgb(126, 94, 0);
    font-size: 40px;
    margin-bottom: 100;   
}

.project {
    display: flex;
    list-style: none;

}

.liProject {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.jProject {
    margin-top: 0px;
    text-align: center;
    color: rgb(252, 214, 141);
    font-size: 30px;
}

.logo {
    margin-bottom: 0px;
}




/* content4 end */